.miniatura-shows {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-gap: 10px;
    font-size: 15px;
}

.cada-uno {
    text-align: center;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 0 5px;
    margin-top: 10px;
}

.img-miniatura {
    width: 200px;
    height: 250px;
    border-radius: 15px;
}

.cada-uno >p {
    margin: 5px 0 -5px  0;
    padding: 0;
}

.img-button{
    border: none;
}

.img-button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
